<!DOCTYPE html>
<html lang="ru">
<head>
     {% load static %}
  <title>Название</title>
  <meta charset="UTF-8">
  <meta name="description" content="Описание">
  <meta name="author" content="Имя Автора">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Иконка сайта -->
  <link rel="shortcut icon" type="images/png" href="{% static 'images/favicon/logo.png' %}">
  <link rel="apple-touch-icon" href="{% static 'images/favicon/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-touch-icon-114x114.png' %}">
  <!-- Стили -->

  <script src={% static 'Bootstrap/js/js.js' %}></script>
  <link rel="stylesheet" href={% static 'slick/slick.css' %}>
  <link rel="stylesheet" href={% static 'slick/slick-theme.css' %}>

    <link rel="stylesheet" href="{% static 'Bootstrap/css1/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/main.css' %}">
</head>

<body>
  <!--Copyright www.Master-CSS.com-->

  <!-- Начало кода -->
  <div class="main">
    <div class="sl">

      <div class="sl__slide"><img src="{% static 'images/sl1.jpg' %}" alt="Картинка слайда1" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 1</h3><p class="sl__desc">Описание слайда 1</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl2.jpg' %}" alt="Картинка слайда2" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 2</h3><p class="sl__desc">Описание слайда 2</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl3.jpg' %}" alt="Картинка слайда3" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 3</h3><p class="sl__desc">Описание слайда 3</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl4.jpg' %}" alt="Картинка слайда4" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 4</h3><p class="sl__desc">Описание слайда 4</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl5.jpg' %}" alt="Картинка слайда5" class="sl__img"><div class ="sl__text"><h3 class="sl__img">СлCайд 5</h3><p class="sl__desc">Описание слайда 5</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl6.jpg' %}" alt="Картинка слайда6" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 6</h3><p class="sl__desc">Описание слайда 6</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl7.jpg' %}" alt="Картинка слайда7" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 7</h3><p class="sl__desc">Описание слайда 7</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl8.jpg' %}" alt="Картинка слайда8" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 8</h3><p class="sl__desc">Описание слайда 8</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl9.jpg' %}" alt="Картинка слайда9" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 9</h3><p class="sl__desc">Описание слайда 9</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl10.jpg' %}" alt="Картинка слайда10" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 10</h3><p class="sl__desc">Описание слайда 10</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl11.jpg' %}" alt="Картинка слайда11" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 11</h3><p class="sl__desc">Описание слайда 11</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl12.jpg' %}" alt="Картинка слайда12" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 12</h3><p class="sl__desc">Описание слайда 12</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl13.jpg' %}" alt="Картинка слайда13" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 13</h3><p class="sl__desc">Описание слайда 13</P></div></div>
      <div class="sl__slide"><img src="{% static 'images/sl14.jpg' %}" alt="Картинка слайда14" class="sl__img"><div class ="sl__text"><h3 class="sl__img">Слайд 14</h3><p class="sl__desc">Описание слайда 14</P></div></div>
    </div>



  </div>
  <!-- Конец кода -->
  <!-- Подключаем скрипты -->
  <script src={% static 'slick/slick.min.js' %}></script>
  <script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
  <script src={% static 'Bootstrap/js/js.js' %}></script>
</body>
</html>
