<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>runaway</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css1/main.css' %}">

</head>

    {% block body1 %}


    {% endblock %}

</html>